@media (min-width : 320px) {
  .cards {
    list-style-type: none;
    margin: 0;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}
@media (min-width : 768px) {
  .cards {
    justify-content: flex-start;
    //justify-content: space-between;
  }

}
@media (min-width : 1024px) {
  .cards {

  }

}