@media (min-width : 320px) {
  .cards {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}
@media (min-width : 640px) {
  .cards {
    // justify-content: space-between;
    // //justify-content: space-between;
    // padding:0;
    // outline: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    gap: 10px;
    margin: 0 auto;
    //padding: 10px;
    width: calc(100% - 10px);
  }
}
@media (min-width : 1024px) {
  .cards {
    grid-template-columns: repeat(3, calc(33.3333% - 10px));
  }
}
@media (min-width : 1280px) { 
  .cards {
    grid-template-columns: repeat(4, calc(25% - 10px));
  }
}
