@media (min-width : 320px) {
  .body {
    font-family: Arial, sans-serif;
    display: grid;
    width: 100%;
    grid-template-columns: 48px auto;
    grid-template-rows:  48px auto 96px;
    grid-template-areas:
      "header title"
      "main main"
      "nav nav";
  }
}

@media (min-width : 1280px) {
  .body {
    grid-template-columns: auto 1280px auto;
    grid-template-rows:  96px 48px 36px auto 96px;
    grid-template-areas:
      ". header ."
      ". nav ."
      ". title ."
      ". main ."
      ". footer .";

  }


}
@media (min-width : 1440px) {
  .body {
    grid-template-columns: auto 1440px auto;
  }


}
