@media (min-width : 320px) {
  .header {
    grid-area: header;

    &__logo {
      display: flex;
      font-size:.7em;


    }

  }
}
@media (min-width : 1280px) {
  .header {
    display: grid;
    grid-template-columns: 280px 300px auto 96px 96px;
    grid-template-rows:  48px 48px;
    grid-template-areas:
      "logo location . profile cart"
      "logo search search profile cart";


    &__logo {
      grid-area: logo;
      width: 280px;
      //font-size: 0;
      font-size: 2.4em;
      justify-content: space-between;
      align-items: center;
      color: #666;
      text-decoration: none;
      box-sizing: border-box;
      padding: 0;

      &::before {
        width: 72px;
        height: 72px;
        background-size: cover;
        display: block;
        content: '';
        background-image: url('/img/logo.svg');
      }
      &::after {
        display: flex;
        align-items: flex-end;
        content: 'Альгапроф';
        width: 200px;
        height: 72px;
        color: #666;

      }
    }
    &__location {
      grid-area: location;
    }
    &__search {
      grid-area: search;
    }
    &__profile {
      grid-area: profile;
    }
    &__cart {
      grid-area: cart;
    }




  }
}