@media (min-width : 320px) {
  .nav {
    grid-area: nav;
    position: fixed;
    bottom: 0;
    width: 100vw;
    order: 5;
    background: red;
    height: 48px;
  }
}

@media (min-width : 1280px) {
  .nav {
    position: relative;
    order: 2;
    width: auto;
    bottom: auto;
  }
}