@media (min-width : 320px) {
  .nav {
    grid-area: nav;
    position: fixed;
    bottom: 0;
    width: 100vw;
    order: 5;
    height: 48px;
    //background: #fff;
  }
}

@media (min-width : 1024px) {
  .nav {
    height: 96px;
    position: relative;
    order: 2;
    width: auto;
    bottom: auto;
  }
}