@media (min-width : 320px) {
  .product__images {
    margin: 0 auto;
    padding: 0;
    outline: 1px solid #dadada;
    background-color: #fff;
    width: calc(100% - 10px);
    margin: 10px 5px 0px 5px;
    display: flex;
  }
}
@media (min-width : 768px) {
  .product__images {
    width: 300px;
    outline: 1px solid green;
    // height: 500px;
    
  }
}
@media (min-width : 1024px) {
  .product__images {
    width: 450px;
    outline: 1px solid green;
    // height: 500px;
    
  }
}
