$color_link: #2ba6cb;
$color__grey-blue_dark: #333;
$color__grey_dark: #333;
$color__grey_normal: #666;
$color__grey_light: #999;
$color__grey_ultralight: #dadada;


$color_violet: #A349A4;
$color_lightblue: #00a2e8;
$color_red: #ed1c24;
$color_green: #138535;
$color_blue: #3f48cc;