@media (min-width : 320px) {
  .body {
    //background: linear-gradient(to top,#f5f1de,#EEF2E3);
    background-image: url(/img/bg/full-bloom.png);
    font-family: Arial, sans-serif;
    display: grid;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    grid-template-columns: 48px calc(100% - 48px);
    grid-template-rows:  48px 0px auto 96px;
    grid-template-areas:
      "header title"
      "bg-top bg-top"
      "main main"
      "nav nav";

      &::before {
        display: block;
        content: '';
        width: 100%;
        height: 48px;
        background: url(/img/dust_bg.jpg) top left repeat-x #dadada;
        grid-area: bg-top;
        margin-top: -48px;
        box-shadow: 0 1px 3px #999;
        position: relative;
        z-index: -1;
      }      
  }
}

@media (min-width : 1024px) {
  .body {
    grid-template-columns: auto 534px 490px auto;
    grid-template-rows:  80px 0 0 30px  auto 196px;
    grid-template-areas:

      ". header nav ."
      "bg-top bg-top bg-top bg-top"
      "bg-bottom bg-bottom bg-bottom bg-bottom"
      ". title title ."
      "main main main main"
      "footer footer footer footer"
      ;
    

    &::before {
      height: 80px;
      margin-top: -80px;
      z-index: 0;
    }

    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 80px;
      background: #fff;
      grid-area: bg-bottom;
      margin-top: -50px;
      box-shadow: 0 1px 3px #999;
      position: relative;
      z-index: -1;
    }
  }
}
@media (min-width : 1280px) {
  .body {
    grid-template-columns: auto 790px 490px auto;
  }
}

@media (min-width : 1440px) {
  .body {
    grid-template-columns: auto 930px 490px auto;
  }
}
