@media (min-width : 320px) {
  .navigation__item_target_profile {
    grid-area: profile;

    &>.navigation__link {
      color: #138535;

      &::before {
        background-image: url(/img/svg/avatar-color.svg);
      }
    }
  }
}

@media (min-width : 1024px) {
  .navigation__item_target_profile {

  }
}