@media (min-width : 320px) {
  .navigation__item_target_cart {
    grid-area: cart;

    &>.navigation__link {
      color: #3f48cc;
      &::before {
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        color: #138535;
        font-weight: bold;
        background-image: url(/img/svg/cart-color.svg);
      }
    }
  }
}

@media (min-width : 1024px) {
  .navigation__item_target_cart {

  }
}