@media (min-width : 320px) {
  .navigation__item_target_cart {
    grid-area: cart;

    &>.navigation__link {
      border: none;
      &::before {

        background-image: url(/img/svg/cart-color.svg);
      }
    }
  }
}

@media (min-width : 1024px) {
  .navigation__item_target_cart {

  }
}