@media (min-width : 320px) {
  .navigation__item_target_directory {
    grid-area: directory;

    &>.navigation__link {
      color: #A349A4;
      &::before {
        background-image: url(/img/svg/menu-round-color.svg);
        fill: red;
      }
    }
  }
}

@media (min-width : 1024px) {
  .navigation__item_target_directory {

  }
}