@media (min-width : 320px) {
  .header__search {
    grid-area: search;
    display: flex;
    align-items: center;

    &::before {
      display: flex;
      content: '';
      width: 36px;
      height: 36px;
      background-image: url(/img/svg/search.svg);
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 5px;
      opacity: .5;
      border: 1px solid #000;
      border-radius: 5px;
    }
  }
}

@media (min-width : 1024px) {
  .header__search {
    flex-grow: 1;
    width: auto;
    
    &::before {
      display: none;
    }
  }
}