@media (min-width : 320px) {
  .header__logo {
    grid-area: logo;
    display: none;
  }
}

@media (min-width : 1024px) {
  .header__logo {
    grid-area: logo;
    display: flex;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 2px #999;
    font-size: 1.8em;
    padding: 0 0 0 20px;
    align-self: center;
    //padding: 0 0 0 10px;

    &::before {
      width: 42px;
      height: 42px;
      background-size: cover;
      display: block;
      content: '';
      background-image: url(/img/logo.svg);
      align-self: flex-start;
      margin-right: 10px;
    }
    &:hover {
      text-shadow: 1px 1px 1px #2ba6cb;
    }
  }
}