@media (min-width : 320px) {
  .header {
    grid-area: header;
    display: flex;
    width: 100%;
  }
}

@media (min-width : 1024px) {
  .header {
    display: flex;
    width: 99%;
    height: 80px;
    z-index: 1;
  }
}