@media (min-width : 320px) {
  .header {
    grid-area: header;
    display: grid;
    width: 100%;
    grid-template-columns: 48px;
    grid-template-rows:  48px;
    grid-template-areas:
      "directory";
  }
}

@media (min-width : 1024px) {
  .header {
    outline: 1px solid blue;
    grid-area: header;
    display: grid;
    width: 100%;
    grid-template-columns: 200px 200px auto;
    grid-template-rows:  46px 60px;
    grid-template-areas:
      "location search search "
      "logo title title";
  }
}