@media (min-width : 320px) {
  .title__name {

  }
}

@media (min-width : 1024px) {
  .title__name {
    margin: 0;
    font-size: .9em;
    display: flex;
    align-items: center;
    color: #666;
    padding-left: 10px
  }
}