@media (min-width : 320px) {
  .title__name {
    margin: 0;
    font-size: .8em;
    display: flex;
    align-items: center;
    color: #333;
    padding: 5px 10px;
  }
}

@media (min-width : 1024px) {
  .title__name {
    font-size: .9em;
  }
}