@media (min-width : 320px) {
  .edges__text {
    padding: 0px 30px 5px 30px;
    //font-size: 1.2em;

    &:hover {
      animation: pulse_small .5s ease-in-out;
    }

    &::before {
      display: block;
      width: 250px;
      height: 250px;
      content: '';
      margin: 0 auto 10px auto;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-shadow: 3px 3px 5px #c0c0c0;
      background-size: 70%;
      background-position: center center;


      

    }
  }
}