@media (min-width : 320px) {
  .navigation__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;

    
  }
}

@media (min-width : 1024px) {
  .navigation__list {
    display: flex;
    align-items: center;
    height: 80px;
    // grid-template-columns: 20% 20% 20% 20% 20%;
    // grid-template-rows:  16px 90px;
    // grid-template-areas:
    //   ". . . . ."
    //   "directory delivery discounts profile cart";
  }
}