@media (min-width : 320px) {
  .edges__text_type_effektivnost {
    color: $color_blue;

    &::before {
      //background-position: -143px -143px;
      background-image: url(/img/svg/effektivnost.svg);
      background-size: 70%;
      background-position: center center;
      background-color: $color_blue;
    }
  }
}