@media (min-width : 320px) {
  .edges__text_type_organichnost {
    color: $color_lightblue;

    &::before {
      background-image: url(/img/svg/organichnost.svg);
      background-color: $color_lightblue;
    }
  }
}