@media (min-width : 320px) {
  .header__search-fieldset {
    z-index: 60;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    //height: 46px;
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
    transition: -webkit-transform 0.3s cubic-bezier(0.56, 0.1, 0.34, 0.91);
    background: #ffffff;
    top: 0;
    left: 0;
    //overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px 2px;
    border: none;

  }
}

@media (min-width : 1024px) {
  .header__search-fieldset {
    display: flex;
    position: relative;
    height: auto;
    max-height: auto;
    width: 100%;    
    -webkit-transform: none;
    transform: none;
    transition: none;
    background: transparent;
    top: auto;
    left: auto;
  }
}