@media (min-width : 320px) {
  .product__image-switcher {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style-type: none;
    width: 60px;
    min-height: 300px;
    position: absolute;
    
  }
}