@media (min-width : 320px) {
  .footer__column {

  }
}
@media (min-width : 1024px) {
  .footer__column {
    min-width: 1024px;
    margin: 0 auto;
    padding: 10px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width : 1280px) {
  .footer__column {
    min-width: 1280px;
  }
}
@media (min-width : 1440px) {
  .footer__column {
    min-width: 1440px;
  }
}

