@media (min-width : 320px) {
  .header__search-button {
    font-size: 0;
    height: 36px;
    width: 36px;
    border: none;
    background-color: transparent;
    position: relative;
    margin-left: -36px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &::before {
      opacity: .5;
      width: 26px;
      height: 26px;
      content: '';
      background-image: url(/img/svg/search.svg);
      background-size: cover;
      
    }
  }
}

@media (min-width : 1024px) {
  .header__search-button {

  }
}