@media (min-width : 320px) {
  .header__search-input {
    flex-grow: 1;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    background: #fff;
    border-color: #bbb;
    color: #555;
    border-radius: 3px;
    height: 36px;
    margin: 0;

    &:focus {
      border-color: #888;
    }
  }
}

@media (min-width : 1024px) {
  .header__search-input {

  }
}