@media (min-width : 320px) {
  .product {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width : 768px) {
  .product {
    max-width: 760px;
    flex-direction: row;
    flex-wrap: wrap;
    outline: 1px solid red;
  }
}
@media (min-width : 1024px) {
  .product {
    max-width: 1024px;
  }
}
@media (min-width : 1280px) {
  .product {
    max-width: 1280px;
  }
}
@media (min-width : 1440px) {
  .product {
    max-width: 1440px;
  }
}
